.Pipe {
	position: absolute;
	width: 10em;
	height: 50em;
}

.Toppipe {
	width: 10em;
	height: 14em;
	background: url('/images/toppipe.png') bottom;
	background-size: cover;
	background-repeat: no-repeat;
	-moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -ms-filter: "FlipH";
    filter: FlipH;
}

.Bottompipe {
	margin-top: 30em;
	width: 10em;
	height: 14em;
	background-image: url('/images/pipe.png');
	background-size: cover;
	background-repeat: no-repeat;
}